*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:where(img, svg, canvas, iframe) {
  display: block;
}

:where(body) {
  font-family: system-ui, sans-serif;
}

:where(label) {
  cursor: pointer;
}
